{% extends 'printers/base.html' %}
{% load static %}
{% block content %}
    <h1>About PrintIT</h1>
    <div>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="mr-2" href="" disabled=disabled>PrintIT Information & History:</a></h2>
                </div>
                <p class="article-content">
                    We are an online Printing service to connect custoers to printing services.<br/>PrintIT was founded by Munge Ben (Electrical Engineer) and Musyoki Mutuku (Computer Programmer)<br>
                    The two met and saw a problem that persisted in the society: Having to move from buildings with high floors and moving all over the town to look for printers. <br/>
                    They then saw the need for a solution to do a computerised printing Syste which they named PrintIT - a name that came up as a typo of Printing Inforation Technology and became popular in Nairobi CBD.<br>
                    This system allows printing business people to register their services and can be seen by custoers near them  This cut down costs and tie taken to search for a printing service and also allow for delivery iddlemen so that a person doesnt have to move from office
                </p>
            </div>
        </article>
    </div>
{% endblock content %}