{% extends 'printers/base.html' %}
{% load static %}
{% block content %}
    <h1>Contact Us</h1>
    <div>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="mr-2" href="" disabled=disabled>PrintIT Contacts:</a></h2>
                </div>
                <h3>HEAD OFFICE:</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Hazina Towers,<br>&nbsp;&nbsp;&nbsp;&nbsp;Opposite Anniversary Towers, <br>&nbsp;&nbsp;&nbsp;&nbsp;NAIROBI KENYA</p>
                <h3>Call Us on:</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; +254 719 177308<br>&nbsp;&nbsp;&nbsp;&nbsp; +254 707 003553</p>
                <h3>EMAIL US:</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto: info@printit.com">enquiries@printit.co.ke</a></p>
            </div>
        </article>
    </div>
{% endblock content %}